ul {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;


    li {
        box-shadow: 0px 2px 5px 0px rgba(66, 68, 90, .3);
        min-height: 70px;
        cursor: pointer;
        background-color: rgba(224, 197, 253, 0.617);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        flex-direction: column;

        h2 {
            font-size: 1.5rem;
        }
    }
}