<p>Tagline: {{beerDetails?.tagline}}</p>
<p>First brewed: {{beerDetails?.first_brewed}}</p>
<p>Description: {{beerDetails?.description}}</p>
<p>abv: {{beerDetails?.abv}}</p>
<p>ibu: {{beerDetails?.ibu}}</p>
<p>Target fg: {{beerDetails?.target_fg}}</p>
<p>Target og: {{beerDetails?.target_og}}</p>
<p>ebc: {{beerDetails?.ebc}}</p>
<p>srm: {{beerDetails?.srm}}</p>
<p>ph: {{beerDetails?.ph}}</p>
<p>Attenuation level: {{beerDetails?.attenuation_level}}</p>
<p>Food pairing: {{beerDetails?.food_pairing}}</p>
<img [src]="beerDetails?.image_url"/>
